<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Daily Journal</title>
  </head>
  <body>
    <%- include('header.ejs') %>
    <h1>HELLO</h1>
    <p><%= content %></p>
    <%- include('footer.ejs') %>
  </body>
</html>
